<html>
    <head>
        <title>Mini Message Board</title>
    </head>

    <body>
        <ul>
            <% messages.forEach(message => { %>
                <li>
                <p><%= message.message %></p>
                <p><%= message.username %></p>
                <p><%= message.created_at %></p>
                <p><%= message.id %></p>
                <a href='./message/<%=message.id%>'>Open Message</a>
                </li>
            <% }); %>
        </ul>
        <a href='/new'>Create a New Message</a>
        <form method='POST' action='/delete'>
            <button type='submit'>Delete all messages</button>
        </form>
    </body>
</html>
